.centerPagination {
    margin-left: 280px;
    width: 50%;
    padding: 10px;
  }


.accordBody{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}


.half {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
}