<div class="p-4">
  <p class="lead">Forcast In Details</p>
  <div *ngIf="forecastDataArray.length > 0">
    <div
      class="mt-1 pt-1"
      *ngFor="
        let forecastData of forecastDataArray
          | paginate : { itemsPerPage: 4, currentPage: p }
      "
    >
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <!-- Feels like: <span>&nbsp;</span> -->
              <!-- {{ dayChart.main.feels_like - 273.15 | number : "1.2" }} -->

              <img
                src="{{
                  'http://openweathermap.org/img/wn/' +
                    forecastData.weather[0].icon +
                    '.png'
                }}"
                alt="logo"
                class="img-fluid small"
              />

              <span
                >{{ forecastData?.main?.feels_like - 273.15 | number
                }}<span>&#176;</span>C</span
              >

              <span style="margin-left: 100px; font-size: 13px"
                >Humidity..... {{ forecastData?.main?.humidity }}%</span
              >

              <span style="margin-left: 100px; font-size: 13px"
                >Wind Speed.....
                {{
                  forecastData?.wind?.speed * 3.6 | number : "1.2-2"
                }}Km/hr</span
              >

              <span style="margin-left: 100px; font-size: 13px"
                >Cloudiness..... {{ forecastData?.clouds?.all }}%</span
              >

              <span class="small" style="margin-left: 110px"
                ><sup style="color: red"
                  >Date.....{{ forecastData?.dt_txt | dateShortner }}</sup
                ></span
              >
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- <p>I'm visible because I am open</p> -->
          <div class="bg-white">
            <p class="text-black-50 lead">In Details</p>
            <div class="accordBody">
              <p style="font-size: 13px" class="text-black-50 half">
                {{ forecastData?.weather[0]?.main }}({{
                  forecastData?.weather[0]?.description
                }})
              </p>
              <p class="text-black-50 half" style="font-size: 13px">
                Max Temp...
                {{ forecastData?.main?.temp_max - 273.15 | number : "1.2-2"
                }}<span>&#176;</span>C
              </p>
              <p class="text-black-50 half" style="font-size: 13px">
                Min Temp...
                {{ forecastData?.main?.temp_min - 273.15 | number : "1.2-2"
                }}<span>&#176;</span>C
              </p>
              <p style="font-size: 13px" class="text-black-50 half">
                Precipitation: {{ forecastData?.pop }}%
              </p>
              <p
                *ngIf="forecastData?.sys?.pod == 'n'"
                style="font-size: 13px"
                class="text-black-50 half"
              >
                Part of the day :
                <span *ngIf="forecastData?.sys?.pod == 'n'">Night Time</span>
              </p>
              <p
                *ngIf="forecastData?.sys?.pod == 'd'"
                style="font-size: 13px"
                class="text-black-50 half"
              >
                Part of the day :
                <span *ngIf="forecastData?.sys?.pod == 'd'">Day Time</span>
              </p>
              <p style="font-size: 13px" class="text-black-50 half">
                Visibility:
                {{ forecastData?.visibility / 1000 | number : "1.2-2" }}Km
              </p>
              <p
                *ngIf="forecastData?.snow"
                style="font-size: 13px"
                class="text-black-50 half"
              >
                Snow volume:
                {{forecastData?.snow?.['3h'] /10 | number : "1.2-2"
                }}
                cm
              </p>
              <p
                *ngIf="forecastData?.rain"
                style="font-size: 13px"
                class="text-black-50 half"
              >
                Rain volume:
                {{forecastData?.rain?.['3h'] /10 | number : "1.2-2"
                }}
                cm
              </p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="centerPagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
